{% extends 'base.html' %}

{% block content %}
<h1>My top 5 music artists are:</h1>

<img src="https://pbs.twimg.com/profile_images/976522723445936128/RDTP0iCK.jpg" alt="PatD" style="width:300px">
<div class="w3-container">
  <p>Panic! at the Disco</p>
</div>

<img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/35/I_Brought_You_My_Bullets%2C_You_Brought_Me_Your_Love_cover.jpg/220px-I_Brought_You_My_Bullets%2C_You_Brought_Me_Your_Love_cover.jpg" alt="MCR" style="width: 300px">
<div class="w3-container">
  <p>My Checmical Romance</p>
</div>

<img src="https://images-na.ssl-images-amazon.com/images/I/71J%2BQkOmAKL._SY355_.jpg" alt="FoB" style="width:300px">
<div class="w3-container">
  <p>Fall Out Boy</p>
</div>

<img src="https://images-na.ssl-images-amazon.com/images/I/81kPjIw1k2L._SL1500_.jpg" alt="PtV" style="width:300px">
<div class="w3-container">
  <p>Pierce the Veil</p>
</div>

<img src="https://f4.bcbits.com/img/a4216569109_10.jpg" alt="Rav" style="width:300px">
<div class="w3-container">
  <p>Rav</p>
</div>

{% endblock content %}